<h2>Order Confirmation #: <%= @order.id %> </h2>

<ul>
  <!-- The order_items created in order controller/model called here. -->
  <% @order_items.each do |order_item| %>
      <% product = Product.find_by(id: order_item.product_id) %>
      <li>
        <%= link_to product.name, product_path(product.id) %>
      </li>
      <li>
        Quantity <%=  order_item.quantity %>
      </li>

  <% end %>
</ul>
