// Place all the styles related to the order_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 30%
}

.order-details div {

}
