<h1>FruEtsy Goodies</h1>

<section>
<% @products.each do |product|%>
  <p>
  <img src="<%= product.image %>" alt="fruit!">
  <%= link_to product.name, product_path(product[:id]) %>
  <%= product.price %>
  <%= product.description %>

  </p>
<% end %>
</section>
