<section>
  <h1>Fruity Highlights</h1>
  <ul class='frontpage'>
    <% @products.sample(9).each do |product|%>
    <li>
      <img class="thumbnail" src="<%= product.image %>" alt="fruit!">

      <%= link_to product.name, product_path(product[:id]) %>

      $<%= sprintf('%.2f', product.price) %>

      <p><%= product.description %></p>
    </li>

    <% end %>
  </ul>
</section>
